header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
  }

i{
    margin-right: 7px;
}
.container-fluid{
    width: 100%;
    max-width: 1280px;
  }

.btn-primary {
border-radius: 5px;
}

.active-btn {
    background-color: #673ab7 !important;
    color: white !important;
  }
