<header class="navbar navbar-light bg-white border-bottom px-4 py-2">
  <div class="container mt-4 d-flex justify-content-between align-items-center">

    <div class="d-flex align-items-center text-md">
        <i class="bi bi-graph-up-arrow"></i>
      <strong >StockPortfolio</strong>
    </div>

    <!-- Navegação -->
    <nav class="d-flex align-items-center">
      <button *ngIf="isAuthenticated"
        routerLink="/portfolio"
        routerLinkActive="active-btn"
        class="btn d-flex align-items-center me-3">
        <i class="bi bi-wallet2 me-1"></i>
        Portfólio
      </button>
      <button *ngIf="isAuthenticated"
        routerLink="/historico-transacoes"
        routerLinkActive="active-btn"
        class="btn d-flex align-items-center me-3">
        <i class="bi bi-clock-history me-1"></i>
        Histórico
      </button>

      <!-- Login ou Logout -->
      <button
        *ngIf="!isAuthenticated"
        routerLink="/login"
        class="btn btn-outline-secondary d-flex align-items-center">
        <i class="bi bi-box-arrow-in-right"></i>
        Login
      </button>
      <button
        *ngIf="isAuthenticated"
        (click)="logout()"
        class="btn btn-outline-secondary d-flex align-items-center">
        <i class="bi bi-box-arrow-right"></i>
        Logout
      </button>
    </nav>
  </div>
</header>
