/* Estilo para os filtros */
.filter-container {
  font-size: 0.9rem;  
  display: flex;
  justify-content: left;
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.custom-dropdown {
  height: 36px;
  min-width: 11rem;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.date-range-button,
.clear-filter-button,
.filter-button {
  height: 36px;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
}

.date-range-button mat-icon {
  font-size: 18px;
  color: #111827;
  margin-right: 7px;
}

.date-range-button {
  min-width: 8rem;
}


.clear-filter-button span.default-text {
  visibility: visible;
  font-weight: 500;

}

.clear-filter-button span.small-screen-text {
  width: 0.1px;
  visibility: hidden; 
}

.filter-button {
  min-width: 10rem;
  background-color: #007bff !important;
  color: white !important;
  font-weight: 500;
}

.hidden-datepicker {
  width: 1px;
  height: 0px;
  visibility: hidden;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .filter-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .clear-filter-button span.default-text {
    visibility: hidden;
    width: 0.1px;
  }
  .clear-filter-button span.small-screen-text {
    visibility: visible; 
    width: auto;
  }
  .custom-dropdown,
  .date-range-button,
  .clear-filter-button,
  .filter-button {
    font-size: 0.9rem;
    padding: 6px 8px;
  }

  .date-range-button,
  .clear-filter-button,
  .filter-button {
    min-width: 140px;
  }

  .custom-dropdown{
    min-width: 160px;
    font-size: 0.9rem;
    padding: 6px 8px;
  }
}

/* 🎯 **TELAS PEQUENAS: abaixo de 768px** → Empilha os elementos */
@media (max-width: 768px) {
  .filter-row {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .clear-filter-button span.default-text {
    visibility: hidden;
    width: 0.1px;
  }
  .clear-filter-button span.small-screen-text {
    visibility: visible; 
    width: auto;
  }

  .custom-dropdown,
  .date-range-button,
  .clear-filter-button,
  .filter-button {
    width: 100%;
  }
}
