/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
main{
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.text-md {
    font-size: 1.25rem; /* Tamanho médio */
  }
  
  .text-lg {
    font-size: 1.5rem; /* Tamanho grande */
  }
  
  .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo cinza transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Garante que fica sobre os outros elementos */
  }
